
.input{
    display:flex;
    flex-direction: column;
    background: #FDF9F3;
}

.text{
    margin-left: 260px;
    margin-right: 260px;
    display:flex;
    text-align:center;
    font-size: 23px;
    font-weight: bold;
    color: #826857;
}

.fieldnbutton{
    margin-top: 50px;
    display:flex;
    justify-content: center;
}


.inputTopic{
    width: 336px;
    height: 40px;
    color: #FFFFFF;
    background: #C7BACE;
    font-size: 20px;
    border-radius: 5px;

}

.inputTopic:focus{
    outline: none;
}

.button{
    margin-left: 20px;
    font-weight: 700;
    font-size: 15px;
    width: 133px;
    color: #FFFFFF;
    background: #A687B8;
    border-radius: 10px;

}